<div class="swiper-slide">
  <% match.teacher.id == current_user.id ? card_user = match.student : card_user = match.teacher %>
  <div class="full-match-card full">
    <div>
      <h3>FULL MATCH</h3>
      <hr/>
      <div class="flex-profiles">
        <div class="profile match">
          <table class="table table-user-information full">
            <tbody>
              <tr>
                <td>Name</td>
                <td><%= card_user.first_name %>
                </td>
              </tr>
              <tr>
                <td>Lives in</td>
                <td><%= card_user.city.capitalize %></td>
              </tr>
              <tr>
                <td>From</td>
                <td><%= card_user.nationality %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="match-button">
          <%= link_to "OPEN MATCH", match_path(match.id), class: "btn btn-xs btn-green btn-match text-vertical-center"%>

        </div>
      </div>
      <div>
        <div class="exchange">
          <div class="match-icon">
            <p> <%= image_tag match.teacher_skill.skill.icon, class: "avatar-round", data: { toggle: 'tooltip' }, title: match.teacher_skill.skill.name %> <%= image_tag "arrowsright.png", height: 50%><%= cl_image_tag card_user.photo, class: "avatar-round" %></p>
          </div>
          <div class="match-icon">
            <p><%= cl_image_tag current_user.photo, class: "avatar-round" %><%= image_tag "arrowsleft.png", height: 50 %> <%= image_tag match.full_match?.student_skill.skill.icon, class: "avatar-round", data: { toggle: 'tooltip' }, title: match.full_match?.student_skill.skill.name %> </p>
          </div>
        </div>
        <% if card_user.last_user_reviews.any? %>
        <div id="reviews" class="text-left">
          <h4>WHAT OTHERS HAVE SAID ABOUT <%= card_user.first_name.upcase %></h4>
          <p><%= card_user.last_user_reviews.last.first_name %> |
            <% card_user.last_user_reviews.last.rating.to_i.times do %>
            <i class="far fa-star"></i>
              <% end %>
          </p>

          <p><%= card_user.last_user_reviews.last.content %></p>
        </div>
        <% else %>
         <div id="other-skills" class="text-left">
          <h4>OTHER SKILLS <%= card_user.first_name.upcase %> HAS TO OFFER</h4>
          <% card_user.owned_skills.each do |skill|%>
          <%= image_tag skill.icon, class: "avatar-round", data: { toggle: 'tooltip' }, title: skill.name%>
          <% end %>
        </div>
        <% end %>
      </div>
      </div>
    </div>
 </div>




