<div class="sidenav sticky-offset">
  <% if current_user.first_name%>
    <h2>Hi <%= current_user.first_name.capitalize%>!</h2>
  <% else%>
    <h2>Hi <%= current_user.email%>!</h2>
  <% end %>

  <% if current_user.photo %>
     <%= cl_image_tag current_user.photo, class: "avatar-large", id: "avatar-sidebar" %>
  <% end %>
    <hr>
  <div id="sidebarlinks">

  <%= link_to "MATCHES", dashboard_my_matches_path %>
  <%= link_to "PROFILE", dashboard_profile_path %>
  <%= link_to "REVIEWS", match_reviews_path(current_user) %>

  <%= link_to "GET MATCHED", search_and_create_matches_matches_path, method: :post %>
  </div>
</div>

