<div class="sidenav">
  <div id="profile-card">
    <h5>Hi <%= current_user.first_name%>!</h5>
    <%= cl_image_tag current_user.photo, class: "avatar-large" %>
  </div>
  <div id="sidebarlinks">
  <%= link_to "Home", dashboard_path %>
  <%= link_to "Matches", dashboard_my_matches_path(current_user) %>
  <%= link_to "Reviews", match_reviews_path(current_user) %>
  <%= link_to "Skills", dashboard_my_skills_path(current_user) %>
  <%= link_to "Settings", dashboard_settings_path %>
  </div>
</div>

