<div class="swiper-slide">
  <% match.teacher.id == current_user.id ? card_user = match.student : card_user = match.teacher %>
  <div class="half-match-card teacher">
    <div>
      <% if current_user == match.teacher %>
      <h3>ARE YOU READY TO TEACH?</h3>
      <% else %>
      <h3>ARE YOU READY TO LEARN?</h3>
      <% end %>
      <hr/>
      <div class="flex-profiles">
        <div class="profile match">
          <table class="table table-user-information half">
            <tbody>
              <tr>
                <td>Name</td>
                <td><%= card_user.first_name %>
                </td>
              </tr>
              <tr>
                <td>Lives in</td>
                <td><%= card_user.city.capitalize %></td>
              </tr>
              <tr>
                <td>From</td>
                <td><%= card_user.nationality %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="match-button">
          <%= link_to "OPEN MATCH", match_path(match.id), class: "btn btn-xs btn-green btn-match text-vertical-center"%>
        </div>
      </div>
      <div>
        <div class="exchange">
          <div class="match-icon">
            <br>
            <br>
            <p> <%= image_tag match.teacher_skill.skill.icon, class: "avatar-round" %> <%= image_tag "arrowsright.png", height: 50%><%= cl_image_tag match.student.photo, class: "avatar-round" %></p>
          </div>
        </div>
        <div id="other-skills" class="text-left">
          <h4>OTHER SKILLS <%= card_user.first_name.upcase %> HAS TO OFFER</h4>
          <% card_user.owned_skills.each do |skill|%>
          <%= image_tag skill.icon, class: "avatar-round"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




