
<div class="se-pre-con">Computing New Matches.....</div>
<div class="flexed-items">
  <%= render 'sidebar' %>

  <div class="main">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @matches.each do |type, matches| %>
          <% if type == :teacher %>
            <% matches.each do |match| %>
              <%= render 'halfmatchcard', match: match %>
            <% end %>
          <% elsif type == :student %>
            <% matches.each do |match| %>
              <%= render 'halfmatchcard', match: match %>
            <% end %>
          <% elsif type == :full %>
            <% matches.each do |match| %>
              <%= render 'fullmatchcard', match: match %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<%= link_to "Back", :back, class: "btn btn-xs btn-green" %>

<%= javascript_pack_tag 'match_carousel' %>



