<div class="flexed-items">
  <%= render 'sidebar' %>

  <div class="main">



<!-- {
  full: [full_match1, full_match2],
  teacher: [teacher_match1, teacher_match2],
  student: [student_match1, student_match2, student_match3]
} -->


  <% @matches.each do |type, matches| %>
    <% if type == :teacher %>
      <% matches.each do |match| %>
        <%= render 'halfmatchcard', match: match %>
      <% end %>
    <% elsif type == :student %>
      <% matches.each do |match| %>
        <%= render 'halfmatchcard', match: match %>
      <% end %>
    <% elsif type == :full %>
      <% matches.each do |match| %>
        <%= render 'fullmatchcard', match: match %>
      <% end %>
    <% end %>
    <% end %>
  </div>

</div>
<%= link_to "Back", :back, class: "btn btn-xs btn-green" %>
