<% if current_user.matches_with_type[:full].any? || current_user.matches_with_type[:student].any? || current_user.matches_with_type[:teacher].any?  %>
<div class="flexed-items">
  <%= render 'sidebar' %>

  <div class="main">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @matches.each do |type, matches| %>
          <% if type == :teacher %>
            <% matches.each do |match| %>
              <%= render 'teachermatchcard', match: match %>
            <% end %>
          <% elsif type == :student %>
            <% matches.each do |match| %>
              <%= render 'studentmatchcard', match: match %>
            <% end %>
          <% elsif type == :full %>
            <% matches.each do |match| %>
              <%= render 'fullmatchcard', match: match %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<%= link_to "Back", :back, class: "btn btn-xs btn-green" %>

<%= javascript_pack_tag 'match_carousel' %>

<% else %>

<!-- <div class="se-pre-con">Computing New Matches.....</div> -->
<div class="flexed-items">
  <%= render 'sidebar' %>

  <div class="main">
    <h1>You don't have matches yet</h1>
    <a id="matchedbutton" url: "search_and_create_matches" data-method="post" href="/matches/search_and_create_matches" >
      <span>Get me Matched!</span>
    </a>
  </div>


<% end %>


