<div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <% if current_user.full_profile? %>
  <h2>Edit profile</h2>
  <% else %>
  <h2>Create profile</h2>
  <% end %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :first_name %>
        </div>
        <div class="col-xs-6">
          <%= f.input :last_name %>
        </div>
      </div>

      <%= f.input :date_of_birth, :as => :date,
      :start_year => Date.today.year - 18,
      :end_year => Date.today.year - 99,
      :month => Date.today.month,
      :order => [:day, :month, :year],
      :label => "Date of Birth",
      :prompt => "Select" %>
      <div class="row">
        <div class="col-xs-6">
          <%= f.input :nationality, :as => :country, label: "Country", prompt: "Please select your country" %>
        </div>
        <div class="col-xs-6">
          <%= f.input :city %>
        </div>
      </div>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.input :bio %>

    </div>

    <div class="form-actions">
      <% if current_user.full_profile? %>
      <%= f.button :submit, "Update", class: "btn btn-sm btn-green" %>
      <%= link_to "Back", :back, class: "btn btn-sm btn-green" %>
      <% else %>
      <%= f.button :submit, "Get me matched!", class: "btn btn-sm btn-green" %>
      <%= link_to "Back", :back, class: "btn btn-sm btn-green" %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
</div>

