
<%= link_to "Back", :back, class: "btn btn-xs btn-green" %>
<%= link_to "next", select_skills_to_teach_path, class: "btn btn-xs btn-green" %>


<div class="container">
  <div class="row">

<div class="flexed-items">
  <div class="half-item">


    <h1>Select skills you want to learn</h1>



    <% @categories.each do |category|%>
     <h2><%= category.name %></h2>

        <% category.skills.each do |skill| %>
          <%= simple_form_for @user_skill do |f| %>
            <%= f.input :skill_id, as: :hidden, :input_html => {value: skill.id} %>
            <%= f.input :role, as: :hidden, :input_html => {value: "student"} %>
            <% if @current_skills.any? {|currentskill| currentskill.skill_id == skill.id} %>
              <%= f.submit value: "#{skill.name}", hidden: true%>
            <% else %>
              <!-- MAYBE A DESTROY BUTTON  -->
              <%= f.submit value: "#{skill.name}" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
  </div>


<!--
    <div id="test" class= "icon_card">
      <%#= image_tag "icons/arts_and_crafts/knitting.svg", width: 100 %>
      <div class="icon-text"><h6>Knitting</h6></div>
    </div>

    <script type="text/javascript">
  $(document).ready(function() {
    $('#test').click(function(){
      $('#new_user_skill').submit();
      )};
    // $('#submitID').hide();
  )};
</script> -->















  <div class="half-item">

    <h1> Skills you have selected!</h1>
    <% current_user.user_skills.each do |user_skill| %>
    <% if user_skill.role == "student" %>
    <h3>
      <%= user_skill.skill.name %>
    </h3>
    <% end %>
    <% end %>
  </div>
</div>





  </div>
</div>
