
<%= render 'layouts/banner' %>
<div class="container_home">
  <div class= "i-am-centered">
    <div class= "row">
      <div class="col-xs-12 col-sm-3">
        <div class= "home_icon_card">
          <%= image_tag "icons/learn.svg", width: 220 %>
          <div class="icon-text">what do you want to learn?</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class= "home_icon_card">
          <%= image_tag "icons/teach.svg", width: 220 %>
          <div class="icon-text">what can you share?</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class= "home_icon_card">
         <%= image_tag "icons/connect.svg", width: 220 %>
         <div class="icon-text">get matched and connect.</div>
       </div>
     </div>
   </div>
 </div>
 <br>
 <div class="row">
  <div class="col-xs-12 col-sm-4">
   <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL0ZL0RW/image.png');">
     <%= image_tag "smilingwoman.jpeg", class: "story_avatar_student" %>
     <%= image_tag "climbingwoman.jpeg", class: "story_avatar_teacher" %>
     <div class= "card-description">
      <p></p>
      <div class= "home_icon_text">challenge yourself</div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0, 0.72), rgba(100, 100, 100, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL15UD5W/image.png');">
   <%= image_tag "sunglassguy.jpeg", class: "story_avatar_student" %>
   <%= image_tag "scubaguy.jpeg", class: "story_avatar_teacher" %>
   <div class= "card-description">
    <div class="home_icon_text">create opportunities for adventure</div>
  </div>
</div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL5BJE9F/image.png');">
   <%= image_tag "cornfieldwoman.jpeg", class: "story_avatar_student" %>
   <%= image_tag "flowergrandma.jpeg", class: "story_avatar_teacher" %>
   <div class= "card-description">
    <p></p>
   <div class= "home_icon_text">learn something old</div>
  </div>
</div>
</div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
   <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL58KXBK/image.png');">
    <%= image_tag "gigglydude.jpeg", class: "story_avatar_student" %>
    <%= image_tag "computergirl.jpeg", class: "story_avatar_teacher" %>
    <div class= "card-description"%>
      <p></p>
     <div class= "home_icon_text">learn something new</div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FALJGF97V/image.png');">
   <%= image_tag "woman.jpeg", class: "story_avatar_student" %>
   <%= image_tag "artisanguy.jpeg", class: "story_avatar_teacher" %>
   <div class= "card-description">
    <p></p>
   <div class= "home_icon_text">share your passion</div>
  </div>
</div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FALLY2F9Q/image.png');">
    <%= image_tag "smilingguywithgrass.jpeg", class: "story_avatar_student" %>
   <%= image_tag "guitarguy.jpeg", class: "story_avatar_teacher" %>
   <div class= "card-description">
    <div class= "home_icon_testimonial">John- "I have always wanted to play guitar, but was unable to find in-person lessons in my home-town.  I tried to learn online, but did not recieve the personalized tips and coaching that I needed.  Through SkillSwap, I was able to connect with Glen- for whom guitar has been a life-long passion.  We now meet once a week, and my skills have improved greatly!"</div>
   <div class= "home_icon_text">make new connections</div>
  </div>
</div>
</div>
</div>
</div>
<%= render 'layouts/footer' %>

