
<%= render 'layouts/banner' %>
<div class="container_home">
  <div class= "i-am-centered">
    <div class= "row">
      <div class="col-xs-12 col-sm-3">
        <div class= "home_icon_card">
          <%= image_tag "icons/learn.svg", width: 150 %>
          <div class="icon-text">WHAT DO YOU WANT TO LEARN?</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class= "home_icon_card">
          <%= image_tag "icons/teach.svg", width: 150 %>
          <div class="icon-text">WHAT COULD YOU TEACH?</div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class= "home_icon_card">
         <%= image_tag "icons/connect.svg", width: 150 %>
         <div class="icon-text">GET MATCHED AND SWAP SKILLS</div>
       </div>
     </div>
   </div>
 </div>
 <br>
 <div class="row">
  <div class="col-xs-12 col-sm-4">
   <div class="card" style="background-image: linear-gradient(rgba(0,0,0, 0.72), rgba(100, 100, 100, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL0ZL0RW/image.png');">
    <div class= "overlay"><div class= "card_description"><h5>CHALLENGE YOURSELF</h5></div></div>

    <%= image_tag "smilingwomanforavatar.jpeg", class: "avatar story_avatar_student" %>
    <%= image_tag "climbingwoman.jpeg", class: "avatar story_avatar_teacher" %>
    <div class= "testimonial"><p>Eve- "I am a certified yoga teacher, and was looking to explore rock climbing as a new challenge."  Through SkillSwap, I was able to connect with  and exchange yoga and meditation lessons for climbing sessions and coaching.  Not only am I developing my skills, I have made a new friend as well!"</p></div>
  </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0, 0.72), rgba(100, 100, 100, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL15UD5W/image.png');">
    <div class= "overlay"><div class="card_description"><h5>OPPORTUNITIES FOR ADVENTURE</h5></div></div>
    <%= image_tag "sunglassguy.jpeg", class: "avatar story_avatar_student" %>
    <%= image_tag "scubaguy.jpeg", class: "avatar story_avatar_teacher" %>
    <div class= "testimonial"><p>Thomas - "I had a month off from work after tax season, and made plans to spend it in Indonesia learning how to scuba-dive.  I did not want to be in a large group to learn, but wanted one-on-one coaching.  I was able to connect with Scuba Steve.  In return, I was able to pay with my accounting knowledge and expertise."</p></div>

  </div>
</div>
<div class="col-xs-12 col-sm-4";>
  <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL5BJE9F/image.png');">
    <div class= "overlay"><div class= "card_description"><h5>LEARN SOMETHING OLD</h5></div></div>
    <%= image_tag "cornfieldwoman.jpeg", class: "avatar story_avatar_student" %>
    <%= image_tag "flowergrandma.jpeg", class: "avatar story_avatar_teacher" %>


    <div class= "testimonial"><p>Laura- "I wanted to learn the basics of gardening, but wanted the hands-on guidance.  I saw on SkillSwap that Beverly not only helped with this, but actually had a PhD in herbal medicine.  I have learned so much more than I could have ever imagined from her, and have gained so much from her many years of experience.</p></div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
   <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL58KXBK/image.png');">
    <div class= "overlay"><div class= "card_description"><h5>LEARN SOMETHING NEW</h5></div></div>
    <%= image_tag "gigglydude.jpeg", class: "avatar story_avatar_student" %>
    <%= image_tag "computergirl.jpeg", class: "avatar story_avatar_teacher" %>
    <div class= "testimonial"><p>Sam- "For some time I have been looking to learn the basics of computer programming, in order to pursue business ideas that I have developed over the years.  At this time, I am only able to devote a few hours a week.  I was able to connect with Kirsten, in exchage for skiing lessons."</p></div>
  </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FALJGF97V/image.png');">
    <div class= "overlay"><div class= "card_description"><h5>SHARE YOUR PASSION</h5></div></div>
    <%= image_tag "woman.jpeg", class: "avatar story_avatar_student" %>
    <%= image_tag "artisanguy.jpeg", class: "avatar story_avatar_teacher" %>
    <div class= "testimonial"><p>Jolene- "I wanted to learn to make pottery, and was able to connect with Gus via SkillSwap.  In return I was able to help with marketing his business.  It was a win-win on both sides!"</p></div>
  </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FALLY2F9Q/image.png');">
    <div class= "overlay"><div class= "card_description"><h5>MAKE NEW CONNECTIONS</h5></div></div>
    <%= image_tag "smilingguywithgrass.jpeg", class: "avatar story_avatar_student" %>
    <%= image_tag "guitarguy.jpeg", class: "avatar story_avatar_teacher" %>
    <div class= "testimonial"><p>John- "I have always wanted to play guitar, but was unable to find in-person lessons.  I tried to learn online, but did not recieve the personalized coaching that I needed.  Through SkillSwap, I was able to connect with Glen, for whom guitar has been a life-long passion.  We meet weekly, and my skills have greatly improved!"</p></div>
  </div>
</div>
</div>
</div>


