

<div class="skills_container">

  <div class= "row justify-content-center">

<!--
<%# @skills.each do |skill| %>
    <div class="col-xs-12 col-sm-2">
      <div class= "icon_card">
        <%#= image_tag "icons/arts_and_crafts/#{skill.icon}", width: 100 %>
        <div class="icon-text"><h6>#{skill.name}</h6></div>
      </div>
    </div>
    <%# end %>

 -->


  <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
      <%= image_tag "icons/arts_and_crafts/knitting.svg", width: 100 %>
      <div class="icon-text"><h6>Knitting</h6></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
      <%= image_tag "icons/arts_and_crafts/painting.svg", width: 100 %>
      <div class="icon-text"><h6>Painting</h6></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
      <%= image_tag "icons/arts_and_crafts/pottery.svg", width: 100 %>
      <div class="icon-text"><h6>Pottery</h6></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
      <%= image_tag "icons/arts_and_crafts/sewing.svg", width: 100 %>
      <div class="icon-text"><h6>Sewing</h6></div>
    </div>
  </div>
</div>

<div class= "row justify-content-center">
 <div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/arts_and_crafts/underwater_basket_weaving.svg", width: 100 %>
    <div class="icon-text"><h6>Underwater Basket Weaving</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/arts_and_crafts/weaving.svg", width: 100 %>
    <div class="icon-text"><h6>Weaving</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/analytics.svg", width: 100 %>
    <div class="icon-text"><h6>Analytics</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/coding.svg", width: 100 %>
    <div class="icon-text"><h6>Coding</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/css.svg", width: 100 %>
    <div class="icon-text"><h6>CSS</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
 <div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/excel.svg", width: 100 %>
    <div class="icon-text"><h6>Excel</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/html.svg", width: 100 %>
    <div class="icon-text"><h6>HTML</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/interviewing.svg", width: 100 %>
    <div class="icon-text"><h6>Interviewing</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/javascript.svg", width: 100 %>
    <div class="icon-text"><h6>Javascript</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/networking.svg", width: 100 %>
    <div class="icon-text"><h6>Networking</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
 <div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/powerpoint.svg", width: 100 %>
    <div class="icon-text"><h6>Powerpoint</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/public_speaking.svg", width: 100 %>
    <div class="icon-text"><h6>Public Speaking</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/social_media.svg", width: 100 %>
    <div class="icon-text"><h6>Social Media</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/business_and_technology/tech.svg", width: 100 %>
    <div class="icon-text"><h6>Technology</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/food_and_drink/baking.svg", width: 100 %>
    <div class="icon-text"><h6>Baking</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
 <div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/food_and_drink/coffee.svg", width: 100 %>
    <div class="icon-text"><h6>Coffee</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/food_and_drink/cooking.svg", width: 100 %>
    <div class="icon-text"><h6>Cooking</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/food_and_drink/french_cooking.svg", width: 100 %>
    <div class="icon-text"><h6>French Cooking</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/food_and_drink/mexican.svg", width: 100 %>
    <div class="icon-text"><h6>Mexican Cooking</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/food_and_drink/thai_cooking.svg", width: 100 %>
    <div class="icon-text"><h6>Thai Cooking</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
 <div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/food_and_drink/vietnamese_cooking.svg", width: 100 %>
    <div class="icon-text"><h6>Vietnamese Cooking</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/food_and_drink/winetasting.svg", width: 100 %>
    <div class="icon-text"><h6>Winetasting</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/game/chess.svg", width: 60 %>
    <div class="icon-text"><h6>Chess</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/game/ping_pong.svg", width: 100 %>
    <div class="icon-text"><h6>Ping Pong</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/game/pool.svg", width: 100 %>
    <div class="icon-text"><h6>Pool</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/arabic.svg", width: 100 %>
    <div class="icon-text"><h6>Arabic</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/chinese.svg", width: 100 %>
    <div class="icon-text"><h6>Chinese</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/english.svg", width: 100 %>
    <div class="icon-text"><h6>English</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/finnish.svg", width: 100 %>
    <div class="icon-text"><h6>Finnish</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/french.svg", width: 100 %>
    <div class="icon-text"><h6>French</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/german.svg", width: 100 %>
    <div class="icon-text"><h6>German</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/japanese.svg", width: 100 %>
    <div class="icon-text"><h6>Japanese</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/khmer.svg", width: 100 %>language_and_culture
    <div class="icon-text"><h6>Khmer</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/meditation.svg", width: 100 %>
    <div class="icon-text"><h6>Meditation</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/portugese.svg", width: 100 %>
    <div class="icon-text"><h6>Portugese</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/signlanguage.svg", width: 100 %>
    <div class="icon-text"><h6>Sign Language</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/spanish.svg", width: 100 %>
    <div class="icon-text"><h6>Spanish</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/language_and_culture/swedish.svg", width: 100 %>
    <div class="icon-text"><h6>Swedish</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/music/flute.svg", width: 100 %>
    <div class="icon-text"><h6>Flute</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/music/guitar.png", width: 100 %>
    <div class="icon-text"><h6>Guitar</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/music/piano.svg", width: 100 %>
    <div class="icon-text"><h6>Piano</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/music/singing.svg", width: 100 %>
    <div class="icon-text"><h6>Singing</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/music/trombone.svg", width: 100 %>
    <div class="icon-text"><h6>Trombone</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/music/violin.svg", width: 100 %>
    <div class="icon-text"><h6>Violin</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/archery.svg", width: 100 %>
    <div class="icon-text"><h6>Archery</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/astronomy.svg", width: 100 %>
    <div class="icon-text"><h6>Astronomy</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/bird_watching.svg", width: 100 %>
    <div class="icon-text"><h6>Bird Watching</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/fishing.svg", width: 100 %>
    <div class="icon-text"><h6>Fishing</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/fossilhunting.svg", width: 100 %>
    <div class="icon-text"><h6>Fossil Picking</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/gardening.svg", width: 100 %>
    <div class="icon-text"><h6>Gardening</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/hiking.svg", width: 100 %>
    <div class="icon-text"><h6>Hiking</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/kite_surfing.svg", width: 100 %>
    <div class="icon-text"><h6>Kite Surfing</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/knot_tying.svg", width: 100 %>
    <div class="icon-text"><h6>Knot Tying</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/rock_climbing.svg", width: 100 %>
    <div class="icon-text"><h6>Rock Climbing</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/rowing.svg", width: 100 %>
    <div class="icon-text"><h6>Rowing</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/scubasteve.svg", width: 100 %>
    <div class="icon-text"><h6>Scuba Steve</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/skiing.svg", width: 100 %>
    <div class="icon-text"><h6>Skiing</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/outdoors/surfing.svg", width: 100 %>
    <div class="icon-text"><h6>Surfing</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/practical/driving.svg", width: 100 %>
    <div class="icon-text"><h6>Driving</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/practical/flying.svg", width: 100 %>
    <div class="icon-text"><h6>Flying</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/practical/plumbing.svg", width: 100 %>
    <div class="icon-text"><h6>Plumbing</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/practical/welding.svg", width: 100 %>
    <div class="icon-text"><h6>Welding</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/practical/woodworking.svg", width: 100 %>
    <div class="icon-text"><h6>Woodworking</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/archery.svg", width: 100 %>
    <div class="icon-text"><h6>Archery</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/ballet.svg", width: 100 %>
    <div class="icon-text"><h6>Ballet</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/baseball.svg", width: 100 %>
    <div class="icon-text"><h6>Baseball</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/basketball.svg", width: 100 %>
    <div class="icon-text"><h6>Basketball</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/bike.svg", width: 100 %>
    <div class="icon-text"><h6>Biking</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/bowling.svg", width: 100 %>
    <div class="icon-text"><h6>Bowling</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/football.svg", width: 100 %>
    <div class="icon-text"><h6>Football</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/hiking.svg", width: 100 %>
    <div class="icon-text"><h6>Hiking</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/hockey.svg", width: 100 %>
    <div class="icon-text"><h6>Hockey</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/kite_surfing.svg", width: 100 %>
    <div class="icon-text"><h6>Kite Surfing</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/pilates.svg", width: 100 %>
    <div class="icon-text"><h6>Pilates</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/rock_climbing.svg", width: 100 %>
    <div class="icon-text"><h6>Rock Climbing</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/scubasteve.svg", width: 100 %>
    <div class="icon-text"><h6>Scuba Steve</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/skiing.svg", width: 100 %>
    <div class="icon-text"><h6>Skiing</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/surfing.svg", width: 100 %>
    <div class="icon-text"><h6>Surfing</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/swimming.svg", width: 100 %>
    <div class="icon-text"><h6>Swimming</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/tennis.svg", width: 100 %>
    <div class="icon-text"><h6>Tennis</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/volleyball.svg", width: 100 %>
    <div class="icon-text"><h6>VolleyBall</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/weight_lifting.svg", width: 100 %>
    <div class="icon-text"><h6>Weight Lifting</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/soccer_football.svg", width: 100 %>
    <div class="icon-text"><h6>Soccer / Football</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <%= image_tag "icons/sport_and_active/yoga.svg", width: 100 %>
    <div class="icon-text"><h6>Yoga</h6></div>
  </div>
</div>
</div>

<div class= "row justify-content-center">
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <i class="fas fa-futbol"></i>
    <div class="icon-text"><h6>sports & active</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card justify-content-center">
    <i class="fas fa-music"></i>
    <div class="icon-text"><h6>music & culture</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <i class="fas fa-paint-brush"></i>
    <div class="icon-text"><h6>arts & crafts</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
    <i class="fas fa-utensils"></i>
    <div class="icon-text"><h6>food & drink</h6></div>
  </div>
</div>
<div class="col-xs-12 col-sm-2">
  <div class= "icon_card">
   <i class="fas fa-laptop"></i>
   <div class="icon-text"><h6>technology & innovation</h6></div>
 </div>
</div>
</div>
</div>
