<div class= "whitecard">

  <% @match.teacher.id == current_user.id ? card_user = @match.student : card_user = @match.teacher %>

    <div class="match-title">
      <h3>ARE YOU READY TO LEARN</h3>
      <hr/>
    </div>

    <div id="exchange-large">
      <div class="match-icon-large">
        <%= cl_image_tag current_user.photo, class: "avatar-large-round" %><%= image_tag "arrowsright.png", height: 100 %><%= image_tag @match.student_skill.skill.icon, class: "avatar-large-round" %>
      </div>
    </div>
  </div>
  <div class="whitecard">
      <div class="chat_item">
          <%= link_to 'Open Chat!', conversations_path(sender_id: @match.teacher.id, recipient_id: @match.student.id), method: 'post', class: "btn btn-xs btn-green", id: "chat"%>
        </div>
    <div class="flex-profiles">
      <div id="profile-match-large">
        <table class="table table-user-information full">
          <tbody>
            <tr>
              <td>Name</td>
              <td><%= card_user.first_name %></td>
            </tr>
            <tr>
              <td>Lives in</td>
              <td><%= card_user.city.capitalize %></td>
            </tr>
            <tr>
              <td>From</td>
              <td><%= card_user.nationality %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= card_user.email %></td>
            </tr>
            <tr>
              <td>Skills <%= card_user.first_name %> wants to learn:</td>
              <td>
                <% card_user.user_skills.each do |user_skill| %>
                <% if user_skill.role == "student" %>
                <li><%= user_skill.skill.name %></li>
                <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Skills <%= card_user.first_name %> wants to teach:</td>
              <td>
                <% card_user.user_skills.each do |user_skill| %>
                <% if user_skill.role == "teacher" %>
                <li><%= user_skill.skill.name %></li>
                <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div id="profile-match-large">
        <table class="table table-user-information full">
          <tbody>
            <tr>
              <td>Name</td>
              <td><%= current_user.first_name %></td>
            </tr>
            <tr>
              <td>Lives in</td>
              <td><%= current_user.city.capitalize %></td>
            </tr>
            <tr>
              <td>From</td>
              <td><%= current_user.nationality %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= current_user.email %></td>
            </tr>
            <tr>
              <td>Skills I want to learn:</td>
              <td>
                <% current_user.user_skills.each do |user_skill| %>
                <% if user_skill.role == "student" %>
                <li><%= user_skill.skill.name %></li>
                <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>Skills I want to teach:</td>
              <td>
                <% current_user.user_skills.each do |user_skill| %>
                <% if user_skill.role == "teacher" %>
                <li><%= user_skill.skill.name %></li>
                <% end %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="whitecard">
    <h4>Provide Feedback:</h4>
        <h6> Please rate the overall quality of your experience: </h6>
         <%= render 'reviews/form', match: @match, review: @review %>
  </div>

  <div class="whitecard">
    <div id="reviews">
         <% if @match.reviews.blank? %>
         <br>
         Be the first to leave a review:
         <% else %>
         <!-- note- brought reviews/show down from this place, to organize page -cs - 5-30-17 -->
         <div class="row">
           <% @match.reviews.each do |review| %>
           <div class="col-xs-12">
            <%= render 'reviews/show', review: review %>
          </div>
          <% end %>
        </div>
          <% end %>
      </div>
  </div>



