<h1>Matches#index</h1>
<p>Find me in app/views/matches/index.html.erb</p>

<ul>
  <% @matches.each do |match| %>
  <li>
    Match ID:<%= match.id %>
    SKILL: <%= match.skill.name %>
    <h3>Teacher:<%= match.teacher.email %> </h3>
    <h3>Student:<%= match.student.email %> </h3>

  </li>
  <% end %>
</ul>

<%= link_to "Search and Create Matches", search_and_create_matches_matches_path %>
