<div class="flexed-items">
<%= render 'dashboard/sidebar' %>

<div class="main">
<h1>Matches#show</h1>
<p>Find me in app/views/matches/show.html.erb</p>

<h2>SKILL</h2>

<%= @match.skill.name %>

<h2>Profile TEACHER user</h2>

<%= @match.teacher.email %>

<h2>Profile STUDENT user</h2>

<%= @match.student.email %>

<h3>messages between users</h3>

<h2>Send message:</h2>

<div class="item">
  <%= link_to 'Open Chat!', conversations_path(sender_id: @match.teacher.id, recipient_id: @match.student.id), method: 'post'%>
</div>

<h2>############REVIEW SYSTEM###############</h2>

<div id="reviews">
  <% if @match.reviews.blank? %>
    Be the first to leave a review
  <% else %>
    <% @match.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>

<%= render 'reviews/form', match: @match, review: @review %>

</div>
</div>
<%= link_to "Back", :back, class: "btn btn-xs btn-green" %>
