<% if @match.full_match? %>
<div class="background" style="background-image: url('<%= image_path 'trianglify.png'%>')">
  <% elsif @match.teacher.id == current_user.id %>
<div class="background" style="background-image: url('<%= image_path 'triangle.png'%>')">
  <% elsif @match.teacher.id != current_user.id%>
  <div class="background.student" style="background-image: url('<%= image_path 'triangle2.png'%>')">
  <% end %>
  <%= link_to "Back", :back, class: "btn btn-sm btn-green" %>

<div class="container">

    <% if @match.full_match? %>
    <%= render 'full_match_show'%>
    <% elsif @match.teacher.id == current_user.id %>
    <%= render 'teacher_match_show'%>
    <% elsif @match.teacher.id != current_user.id%>
    <%= render 'student_match_show' %>
    <% end %>

</div>
  <br>
  <br>
</div>

