<div class="flexed-items">
  <%= render 'dashboard/sidebar' %>
  <div class="container">
    <div class="main">
      <h1> All Reviews </h1>
          <% @reviews.each do |review| %>

   <div class= "past_review_whitecard">
    <div class = "column_left">
      <img class="review_avatar" src="http://res.cloudinary.com/dpphwschw/image/upload/v1527583823/mwtu3jgltdyusnr0lglv.jpg">
      <p><%= review.first_name %></p>
      <p><%= review.created_at %></p>
    </div>
    <div class="column_right">
      <p><%= review.rating %> stars</p>
      <p><%= review.content %></p>
    </div>
  </div>

      <% end %>

    </div>
    <%= link_to "Back", :back, class: "btn btn-xs btn-green" %>
  </div>
</div>
</div>
</div>






